body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

html {
  position: relative;
}

.wrapper {
  width: 100%;
  margin-top: 0px;
  position: absolute;
  top: 550px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1400px;
}

.header-wrapper {
  background-color: #e9e3ff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  overflow: hidden;
}

.header {
  text-align: center;
  width: 800px;
  padding: 20px;
}

.header-headline {
  font-size: 42px;
  line-height: 49px;
  color: #282828;
  font-weight: bold;
}

.lead {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #282828;
  margin-bottom: 200px;
  padding-right: 20px;
}

.triangle {
  background-color: #f3f3f3;
  top: -200px;
  width: 150%;
  height: 250px;
  position: relative;
  transform: skew(0deg, 3deg);
  border-top: 10px solid #af99ff;
  z-index: 0;
  width: 100%;
}

.button-wrapper {
  margin-top: 100px;
  margin-bottom: 114px;
}

.footer-wrapper {
  width: 100%;
  text-align: right;
  bottom: 0;
}

.footer {
  background-color: #282828;
  color: #dddddd;
  font-size: 14px;
  line-height: 16px;
  padding: 17px 40px;
}

.load-button {
  padding: 10px 25px;
  color: white;
  background-color: black;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.load-button:hover {
  background-color: #282828;
  transition: 0.3s;
}
